@model Plantr.Models.SoulCourse

<div>
    <h4>Soul</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Soul.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Soul.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Soul.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Soul.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Soul.AptNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Soul.AptNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Soul.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Soul.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Soul.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Soul.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Soul.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Soul.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => Model.Soul.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.Soul.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Soul.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
