@model Tuple<Plantr.Models.Soul,Plantr.Models.Course>

<div>
    <h4>Soul</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.Address)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.AptNumber)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.AptNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.City)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item1.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item1.Comments)
        </dd>

    </dl>
    <hr />
    <hr />

    <dl>
        <dt>
            @Html.DisplayNameFor(tuple => tuple.Item2.Title)
        </dt>

        <dd>
            @Html.DisplayFor(tuple => tuple.Item2.Title)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item1.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
