@model Plantr.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseOneSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseOneSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseOneRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseOneRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseTwoSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseTwoSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseTwoRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseTwoRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseThreeSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseThreeSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseThreeRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseThreeRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseFourSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseFourSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseFourRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseFourRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseFiveSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseFiveSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseFiveRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseFiveRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseSixSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseSixSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseSixRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseSixRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseSevenSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseSevenSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseSevenRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseSevenRec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseEightSent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseEightSent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseEightRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseEightRec)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
